/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-01-31, 19:10:14
    Author     : Karol
*/
body {background-color: red;}
div {background-color: green;}
p  {color:red;}